<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Celeste Artley's Portfolio</title>
    <link rel="stylesheet" href="./Styles/Index.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section name="Navigation">
      <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ml-5" href="#"
          ><img
            class="IconBrand"
            src="/View/Img/IconMe.png"
            alt="Celeste Artley Logo"
            srcset=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a
                class="nav-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                >About</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Portfolio
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">All Projects</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Project 1</a>
                <a class="dropdown-item" href="#">Project 2</a>
                <a class="dropdown-item" href="#">Project 3</a>
              </div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                >Contact</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                >Blog</a
              >
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="hero-banner bg-secondary" name="Banner">
      <div class="container ">
        <div class="row row align-items-center">
          <div class="col-lg-6">
            <h1 class="mt-3 text-white text-center">Celeste Artley</h1>
            <p class="lead text-white my-5 text-center">
              Full stack web developer.
            </p>
            <div class="d-flex justify-content-center">
              <a
              href="#"
              class="
                btn btn-outline-secondary btn-lg
                border
                text-white
                
              "
              >Portfolio</a
            ></a>
            </div>
            
          </div>
          <div class="col-lg-5 offset-lg-1 order-lg-1 mt-2 mb-2">
            <img
              src="./Img/IconMe.png"
              class="img-fluid rounded "
              alt="Celeste Selfie"
            />
          </div>
        </div>
      </div>
    </section>
    <section class="bg-OffGrey" name="Portfolio">
      <div class="row px-4">
        <div class="col-sm-4 mt-3 mb-3">
          <div class="card text-white bg-primary shadow">
            <div class="card-body">
              <h5 class="card-title">Project 1</h5>
              <p class="card-text">Information about project 1.</p>
              <a href="#" class="btn btn-info mb-3">Try it.</a>
              <div class="card-footer">Created using: JS, PHP</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mt-3 mb-3">
          <div class="card text-white bg-primary shadow">
            <div class="card-body">
              <h5 class="card-title">Project 2</h5>
              <p class="card-text">Information about project 2.</p>
              <a href="#" class="btn btn-info mb-3">Try it.</a>
              <div class="card-footer">Created using: TS</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mt-3 mb-3">
          <div class="card text-white bg-primary shadow">
            <div class="card-body">
              <h5 class="card-title">Project 3</h5>
              <p class="card-text">Information about project 3.</p>
              <a href="#" class="btn btn-info mb-3">Try it.</a>
              <div class="card-footer">Created using: TS</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section name="Skillset">
      <div class="bg-grey">
          <h1 class="text-light text-center ">Skillsets</h1>
        <div class="row justify-content-center px-4">
          <div class="col-sm-1 mt-3 mb-3">
            <img
              class="img-thumbnail rounded align-middle"
              src="./Img/TS.png"
              alt="TypeScript Logo"
            />
          </div>
          <div class="col-sm-1 mt-3 mb-3">
            <img
              class="img-thumbnail rounded align-middle"
              src="./Img/JS.png"
              alt="TypeScript Logo"
            />
          </div>
          <div class="col-sm-1 mt-3 mb-3">
            <img
              class="img-thumbnail rounded align-middle"
              src="./Img/C.png"
              alt="TypeScript Logo"
            />
          </div>
          <div class="col-sm-1 mt-3 mb-3">
            <img
              class="img-thumbnail rounded align-middle"
              src="./Img/java.png"
              alt="TypeScript Logo"
            />
          </div>
          <div class="col-sm-1 mt-3 mb-3">
            <img
              class="img-thumbnail rounded align-middle"
              src="./Img/Node.jpeg"
              alt="TypeScript Logo"
            />
          </div>
          <div class="col-sm-1 mt-3 mb-3">
            <img
              class="img-thumbnail rounded align-middle"
              src="./Img/React.png"
              alt="TypeScript Logo"
            />
          </div>
        </div>
      </div>
    </section>
    <section name="AboutMe">
      <div class="bg-dark pb-3">
        <h1 class="text-white text-center pt-3">Who am I?</h1>
        <div class="row px-4">
          <div class="col-sm-4 mt-3 mb-3">
            <div class="card text-white bg-secondary shadow">
              <div class="card-body">
                <h5 class="card-title text-center">Driven</h5>
                <p class="card-text text-center p-3">I am the type of person that loves to see project finish. My love for organization and patterns means I will work hard to make sure all the things are in line. </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mt-3 mb-3">
            <div class="card text-white bg-secondary shadow">
              <div class="card-body">
                <h5 class="card-title text-center">Knowledgeable</h5>
                <p class="card-text text-center p-3">Being knowledgeable about a subject matters to me because communication is one of the best ways to complete a group project, and that can only come through proper knowledge.  </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mt-3 mb-3">
            <div class="card text-white bg-secondary shadow">
              <div class="card-body">
                <h5 class="card-title text-center">Creative</h5>
                <p class="card-text text-center p-3">Creativity is the best way for me to express myself through new and interesting ideas. When it comes to code, this shows up a lot in taking others ideas and finding how to get them working programmatically.</p>
              </div>
            </div>
          </div>
      </div>
    </section>
    <section class="footer mr-auto bg-dark">
      <div class="row">
        <div class="col-sm-3">
          <h3 class="text-white text-center">Created by Celeste Artley</h3>
          </div>
        <div class="col-sm-3">
          <a href="#"><h2 class="bi bi-envelope text-center"> </h2></a>
        </div>
        <div class="col-sm-3">
        <a href="#"><h2 class="bi bi-linkedin text-center"> </h2></a>
        </div>
        <div class="col-sm-3">
          <a href="#"><h2 class="bi bi-github text-center"> </h2></a>
          </div>
      </div>
    </section>
  </body>
</html>
